<%- include("partials/header.ejs") %>
<h2>Upload Post</h2>
<form  method="POST">
    <input name="title" type="text" class="feedback-input" placeholder="Title" />
    <textarea name="content" class="feedback-input" placeholder="Content"></textarea>
    <input type="submit" class="btn btn-secondary" value="SUBMIT" />
</form>

<%- include("partials/footer.ejs") %>